* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', 'Raleway', sans-serif;
}

:root{
  --color-blue: #2196f3;
  --color-white: #fff;
  --color-grey: #757575;
  --color-black: #212121;
}

body {
  box-sizing: border-box;
  margin: 0 auto;
  color: var(--color-black);
}

ul {
  list-style: none;
}

img{
  display: block;
}

.container{
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.black{
  color: var(--color-black);
}

.blue{
  color: var(--color-blue);
}

.grey{
  color: var(--color-grey);
}

.link {
  text-decoration: none;
  cursor: pointer;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover {
  color: #2196f3;
}

.link:focus {
  color: #2196f3;
}


.link:visited {
  color: none;
}

.header {
  display: flex;
  align-items: center;
}

.main-header {
  background-color: var(--color-white);
  border-bottom: 1px solid #EEEEEE;
}

.ul-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.webstudio {
  margin: 0 93px 0 0px;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.raleway{
  font-family: 'Raleway' ;
}

.studio {
  display: block;
  font-weight: bold;
  padding-top: 32px;
  padding-bottom: 32px;
}

.portfolio {
  display: block;
  font-weight: bold;
  padding-top: 32px;
  padding-bottom: 32px;
}

.contacts{
  display: block;
  font-weight: bold;
  padding-top: 32px;
  padding-bottom: 32px;
}

.mail {
  display: block;
  font-weight: 500;
  padding-top: 32px;
  padding-bottom: 32px;
}

.mail-tel-icon{
  fill: currentColor;
  margin-right: 10px;
}

.mail:hover .mail-tel-icon, 
.mail:focus .mail-tel-icon{
  fill: var(--color-blue)
}

.tel:hover .mail-tel-icon, 
.tel:focus .mail-tel-icon{
  fill: var(--color-blue)
}

.tel{
  display: block;
  font-weight: 500;
  padding-top: 32px;
  padding-bottom: 32px;
}

.mail-tel{
  display: flex;
  margin-left: auto;
  align-items: center;
}

.container-nav{
  display: flex;
}

.header-item:not(:last-child){
  margin-right: 50px;
}

.item-link-header{
  padding-bottom: 32px;
  padding-top: 32px;
}

.item-link-header{
  position: relative;
}

.header-item .blue::after{
  position: absolute;
  bottom: -1px;
  content: "";
  background-color: var(--color-blue);
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  display: block;
}

/* MAIN */

.container-button{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.main{
  padding: 94px 0 94px 0;
}

.text-button{
  letter-spacing: 0.03em;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}

.button{
  padding: 6px 22px;
  background-color: #F5F4FA;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.button{
  transition-property:  background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-item:not(:last-child){
  margin-right: 8px;
}

.button-fover-focus{
  background-color: var(--color-blue);
  color: var(--color-white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button:hover{
  background-color: var(--color-blue);
  color: var(--color-white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button:focus{
  background-color: var(--color-blue);
  color: var(--color-white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.container-project{
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}


.project{
  box-sizing: border-box;
}

.project{
  margin-bottom: 30px;
  margin-left: 30px;
  width: 370px;
}



.window-text{
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--color-white);
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  overflow-y: scroll;
  transform: translateY(100%);
  transition: transform 250ms linear;
}

.window-text-pic{
  position: relative;
  overflow: hidden;
  text-decoration: none;
  display: block;
}

.window-text-pic:hover,
.window-text-pic:focus{
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project:hover .window-text{
  transform: translateY(0%);
}

.project-name{
  letter-spacing: 0.06em;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  color: var(--color-black);
  margin-bottom: 4px;
}
 
.project-text{
  letter-spacing: 0.03em;
  color: var(--color-grey);
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.text-project-box{
  padding: 20px 24px 20px 24px;
  border: 1px solid #EEEEEE;
  border-top: none;
}



/* Footer */

.footer {
  background-color: #2f303a;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 60px;
}

.address {
  margin: 20px 0 0 0;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.03em;
}

.logo {
  margin: 60px 0 0 0px;
}

.white{
  color: var(--color-white);
}

.logo {
  color: var(--color-white);
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  text-decoration: none;
}

.location {
  font-size: 14px;
  line-height: 24px;
  color: var(--color-white);
}

.address-mail {
  font-size: 14px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6);
}

.footer-item:not(:last-child){
  margin-bottom: 9px;
}

.address-tel {
  font-size: 14px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6);
}

.footer-cont-icon{
  display: flex;
}

.footer-cont-icon:not(:last-child){
  margin-right: 10px;
}

.footer-icon-border{
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.footer-team-icon{
  fill: var(--color-white);
}

.footer-icon-border:hover, .footer-icon-border:focus{
  background-color: var(--color-blue);
}

.footer-icon-border{
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.sosial-text{
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-white);
  margin-bottom: 20px;
  font-weight: 700;
}

.my-social-link{
  margin-left: 70px;
}

.footer-cont{
  display: flex;
  align-items: baseline;
}